.logo-container {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .logo-container {
    justify-content: center;
  }
}

#logo {
  height: 1.5rem;
  width: auto;
  animation: 0.2s linear forwards logoLightMode;
}

@keyframes logoLightMode {
  from {
    filter: invert(1);
  }
  to {
    filter: invert(0);
  }
}

.App.dark-mode #logo {
  animation: 0.2s linear forwards logoDarkMode;
}

@keyframes logoDarkMode {
  from {
    filter: invert(0);
  }
  to {
    filter: invert(1);
  }
}
