#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem 0;
  padding: 4rem 1rem 3.5rem;
  border-top: 1px solid transparent;
  position: relative;
  top: -1px;
}

.App.dark-mode #about {
  animation: 0.2s linear forwards aboutLightMode;
}

@keyframes aboutLightMode {
  from {
    border-top: 1px solid transparent;
    margin: 0 0rem 0;
  }
  to {
    border-top: 1px solid hsl(0, 0%, 75%);
    margin: 0 3rem 0;
  }
}

.about-container {
  width: stretch;
  max-width: 600px;
  margin: 0 0.5rem;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  text-align: justify;
  font-weight: 300;
}

@media only screen and (max-width: 800px) {
  .about-container {
    padding: 1rem;
  }
}

.about-container > :nth-child(3) {
  padding-top: 1rem;
}

.about-button {
  font-size: 1.05rem;
  font-weight: 500;
  background-color: transparent;
  background-color: hsl(0deg, 85%, 70%);
  border: 2px solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem 0;
  cursor: pointer;
}

.App.dark-mode .about-button {
  border: 2px solid hsl(0deg, 85%, 70%);
}
