#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(hsla(0, 85%, 75%, 100%), 50%, hsla(40, 85%, 85%, 100%));
  margin-top: 1rem;
  padding: 3rem 0;
}

.about-container {
  width: stretch;
  max-width: 800px;
  margin: 1rem 0.5rem;
  background-color: hsl(200, 0%, 100%, 90%);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  text-align: justify;
  font-weight: 300;
}

@media only screen and (max-width: 800px) {
  .about-container {
    padding: 1rem;
  }
}
