#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem 3.5rem;
  /* border-top: 1px solid hsl(0, 0%, 50%); */
}

.about-container {
  width: stretch;
  max-width: 600px;
  border-radius: 1rem;
  padding: 0.75rem 0;
  text-align: justify;
  font-weight: 300;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  scroll-behavior: smooth;
}

.about-container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 800px) {
  .about-container {
    padding: 1rem 0.25rem;
  }
}

.about-parts {
  flex: none;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.about-parts:nth-child(1) {
  margin-right: 2rem;
}

.about-button {
  min-width: 1.5rem;
  min-height: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 1.5rem;
  margin-left: 0.75rem;
  cursor: pointer;
  animation: 0.2s linear forwards buttonLightMode;
}

@keyframes buttonLightMode {
  from {
    border-color: white;
    color: white;
  }
  to {
    border-color: black;
    color: black;
  }
}

.about-button:hover {
  background-color: hsl(210deg, 85%, 65%);
}

.App.dark-mode .about-button {
  border-color: white;
  color: white;
  border-color: white;
  color: white;
  animation: 0.2s linear buttonDarkMode;
}

@keyframes buttonDarkMode {
  from {
    border-color: black;
    color: black;
  }
  to {
    border-color: white;
    color: white;
  }
}

.App.dark-mode .about-button:hover {
  background-color: hsl(210deg, 85%, 65%);
  border-color: hsl(210deg, 85%, 65%);
  color: black;
}
