#contact {
  width: 100%;
  /* background: linear-gradient(hsl(160, 85%, 75%), 50%, hsl(200, 85%, 75%)); */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

#contact h2 {
  font-size: 2rem;
  padding: 3rem 0 2rem;
}