#contact {
  display: grid;
  grid-template-columns: 100%;
  margin: 0 3rem 0;
  border-top: 1px solid hsl(0, 0%, 50%);
}

h2 {
  padding: 3.5rem 0 1rem;
}

.contact-elements {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  margin: 0 1rem;
}

.contact-container {
  flex-grow: 1;
  max-width: 600px;
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

.contant-link {
  color: black;
  width: 8rem;
  height: 8rem;
  background-color: hsla(0, 0%, 100%, 90%);
  box-shadow: inset -4px 4px 0px 0px grey;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 0.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Animation in Skills.css */
  animation: 0.2s linear forwards skillsLightMode;
}

.App.dark-mode .contant-link {
  /* Animation in Skills.css */
  animation: 0.2s linear forwards skillsDarkMode;
}

#contact p {
  font-weight: 300;
  font-size: 0.9rem;
}