#contact {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 0 3rem 0;
  border-top: 1px solid hsl(0, 0%, 50%);
}

h2 {
  padding: 3.5rem 0 1rem;
}

.contact-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

.contant-link {
  color: black;
  width: 14rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: hsla(0, 0%, 100%, 90%);
  box-shadow: inset -4px 4px 0px 0px grey;
  border: 1px solid;
  border-radius: 1rem;
}