#home {
  height: 85vh;
  background: linear-gradient(30deg, hsla(0, 85%, 65%, 100%), hsla(0, 85%, 85%, 0%) 120%),
              linear-gradient(210deg, hsla(40, 85%, 65%, 100%), hsla(40, 85%, 85%, 0%) 120%);
  background-color: hsl(10deg, 85%, 70%);
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin: 0 2rem 0; */
  /* border-radius: 0 0 1rem 1rem; */
}

#home.dark-mode {
  background: linear-gradient(hsl(200, 25%, 5%), 67%, hsl(200, 25%, 10%));
}

@media only screen and (max-width: 800px) {
  #home {
    height: 75vh;
    /* margin: 0 0.5rem 0; */
  }
}

.home-header {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 4rem;
}

#home h1 {
  font-size: 2.75rem;
  padding: 3rem 0;
}

#home.dark-mode h1 {
  background: linear-gradient(90deg, hsla(0, 85%, 65%, 100%), hsla(0, 85%, 85%, 0%) 120%),
  linear-gradient(270deg, hsla(40, 85%, 65%, 100%), hsla(40, 85%, 85%, 0%) 120%);
  background-color: hsl(10deg 85% 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1000px) {
  #home h1 {
    font-size: 1.85rem;
  }
}
