#home {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.extendHome {
  animation: 0.5s linear forwards extendHome;
}

@keyframes extendHome {
  from {
    height: 100vh;
  }
  to {
    height: 85vh;
  }
}

@media only screen and (max-width: 800px) {
  .extendHome {
    animation: 0.5s linear forwards extendMobileHome;
  }
  
  @keyframes extendMobileHome {
    from {
      height: 100vh;
    }
    to {
      height: 75vh;
    }
  }
}

#home > .home-background-colour {
  grid-area: 1 / 1 / 4 / 2;
  width: 100vw;
  height: 100%;
  background: linear-gradient(30deg, hsla(0, 85%, 65%, 100%), 75%, hsla(40, 85%, 65%, 100%));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: 0.2s linear forwards homeLightMode;
}

@keyframes homeLightMode {
  from {
    filter: opacity(0%) brightness(0%);
  }
  to {
    filter: opacity(100%) brightness(100%);
  }
}

.App.dark-mode #home > .home-background-colour {
  animation: 0.2s linear forwards homeDarkMode;
}

@keyframes homeDarkMode {
  from {
    filter: opacity(100%) brightness(100%);
  }
  to {
    filter: opacity(0%) brightness(0%);
  }
}

.home-background-scene {
  grid-area: 1 / 1 / 4 / 2;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .home-background-scene {
    font-size: 0.75rem;
  }
}

.mountain {
  border-bottom-style: solid;
  border-right-style: solid;
  border-right-color: transparent;
  border-left-style: solid;
  border-left-color: transparent;
  position: relative;
  animation: 0.2s linear forwards mountainLightMode;
}

@keyframes mountainLightMode {
  from {
    border-bottom-color: hsla(0, 0%, 0%, 50%);
  }
  to {
    border-bottom-color: hsla(0, 0%, 100%, 20%);
  }
}

.App.dark-mode .mountain {
  animation: 0.2s linear forwards mountainDarkMode;
}

@keyframes mountainDarkMode {
  from {
    border-bottom-color: hsla(0, 0%, 100%, 20%);
  }
  to {
    border-bottom-color: hsla(0, 0%, 0%, 50%);
  }
}

.mountain-one {
  border-bottom-color: hsla(0, 0%, 100%, 20%);
  border-bottom-width: 24em;
  border-right-width: 21em;
  border-left-width: 21em;
  left: 20em;
}

.mountain-two {
  border-bottom-color:hsla(0, 0%, 100%, 20%);
  border-bottom-width: 32em;
  border-right-width: 25em;
  border-left-width: 25em;
  z-index: 1;
}

.mountain-three {
  border-bottom-color:hsla(0, 0%, 100%, 20%);
  border-bottom-width: 18em;
  border-right-width: 14em;
  border-left-width: 14em;
  right: 12em;
}

.mountain-four {
  border-bottom-color: hsla(0, 0%, 100%, 20%);
  border-bottom-width: 24em;
  border-right-width: 21em;
  border-left-width: 21em;
  right: 20em;
  z-index: 1;
}

.home-header {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 4rem;
  z-index: 10;
}

#home h1 {
  font-size: 2.5rem;
  padding: 3rem 0;
  background: linear-gradient(30deg, hsla(0, 85%, 65%, 100%), 75%, hsla(40, 85%, 65%, 100%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 0.2s linear forwards h1LightMode;
}

@keyframes h1LightMode {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(0%);
  }
}

@media only screen and (max-width: 1000px) {
  #home h1 {
    font-size: 1.75rem;
  }
}

.App.dark-mode #home h1 {
  filter: brightness(0%);
  animation: 0.2s linear forwards h1DarkMode;
}

@keyframes h1DarkMode {
  from {
    filter: brightness(0%);
  }
  to {
    filter: brightness(100%);
  }
}

#textCursor {
  visibility: hidden;
}
