#home {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  align-items: center;
  text-align: center;
  background-image: url('../../images/backgrounds/home-background.jpg');
  background-size: cover;
  background-position-y: 100%;
  background-position-x: 50%;
}

#home.reduceHome {
  animation: 0.5s ease-in 0.5s forwards reduceHome;
}

@keyframes reduceHome {
  to {
    height: 85vh;
  }
}

@media only screen and (max-width: 800px) {
  #home.reduceHome {
    animation: 0.5s ease-in 0.5s forwards reduceMobileHome;
  }
  
  @keyframes reduceMobileHome {
    to {
      height: 75vh;
    }
  }
}

.stars {
  position: absolute;
  display: flex;
  top: 3rem;
  width: 100%;
  height: 25vh;
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.App.dark-mode .star {
  background-color: hsla(0, 0%, 100%, 65%);
}

.home-background-filter {
  grid-area: 1 / 1 / 4 / 2;
  height: 100%;
  background: linear-gradient(30deg, hsla(210, 85%, 65%, 100%), 75%, hsla(10, 100%, 65%, 100%));
  animation: 0.2s linear forwards homeLightMode;
}

@keyframes homeLightMode {
  from {
    filter: opacity(0%) brightness(0%);
  }
  to {
    filter: opacity(50%) brightness(100%);
  }
}

.App.dark-mode .home-background-filter {
  animation: 0.2s linear forwards homeDarkMode;
}

@keyframes homeDarkMode {
  from {
    filter: opacity(50%) brightness(100%);
  }
  to {
    filter: opacity(85%) brightness(0%);
  }
}

.home-header {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 4rem;
  z-index: 10;
}

#home h1 {
  font-size: 2.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  background: hsla(0, 0%, 100%, 40%);
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 20%);
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  #home h1 {
    font-size: 1.75rem;
  }
}

.App.dark-mode #home h1 {
  background: hsla(0, 0%, 0%, 40%);
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 50%);
}

#textCursor {
  visibility: hidden;
}

#home p {
  position: relative;
  font-size: 1.4rem;
  margin: 1rem;
  padding: 0 0.5rem;
  opacity: 0%;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  background: hsla(0, 0%, 100%, 40%);
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 20%);
}

@media only screen and (max-width: 1000px) {
  #home p {
    font-size: 1.15rem;
  }
}

#home.reduceHome p {
  animation: 0.5s ease-in 0.5s forwards showHeaderP;
}

@keyframes showHeaderP {
  from {
    top: -3.25rem;
    opacity: 100%;
  }
  to {
    top: 0;
    opacity: 100%;
  }
}

.App.dark-mode #home p {
  background: hsla(0, 0%, 0%, 40%);
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 50%);
}