#introduction {
  width: 100%;
  min-height: calc(100vh * 0.80);
  background: linear-gradient(hsl(200, 85%, 70%), 67%, hsl(200, 85%, 90%));
  display: grid;
  grid-template-rows: 9fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  /* border: 3px solid;
  border-radius: 1.5rem; */
}

.introduction-headers {
  grid-area: 1 / 1 / 3 / 2;
}

@media only screen and (max-width: 800px) {
  #introduction {
    min-height: calc(100vh * 0.75);
  }
}

h1 {
  font-size: 2.75rem;
  font-weight: 600;
}

#introduction p {
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0.25rem 0 0.5rem;
}

@media only screen and (max-width: 1050px) {
  h1 {
    font-size: 2rem;
  }
  
  #introduction p {
    font-size: 1.25rem;
  }
}

/* @media only screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.25rem;
  }
} */

.open-window {
  align-self: end;
  grid-area: 2 / 1 / 3 / 2;
  color: black;
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  background-color: hsl(200, 85%, 95%);
  /* border: 2px solid; */
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
}
