.navigation-arrows {
  grid-area: 2 / 1;
  min-width: 750px;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#projects .navigation-arrows {
  top: calc(2rem + 11.5rem);
}

@media only screen and (max-width: 900px) {
  .navigation-arrows {
    grid-area: 3 / 1;
    min-width: 100%;
    max-width: 600px;
    position: inherit;
    display: flex;
    justify-content: space-between;
  }
}

.navigation-arrows > button {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border-radius: 50%;
  animation: 0.2s linear forwards anchorLightMode;
}

.App.dark-mode .navigation-arrows > button {
  animation: 0.2s linear forwards anchorDarkMode;
}

.navigation-arrows button:hover {
  background-color: hsl(30, 5%, 92%);
}

.App.dark-mode .navigation-arrows button:hover {
  background-color: hsl(30, 5%, 0%);
}

.navigation-arrows > button:disabled {
  cursor: auto;
}

.navigation-arrows > button:disabled:hover {
  background-color: transparent;
}

.navigation-arrows > button > i {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.navigation-arrows > button:disabled > i {
  color: hsl(35, 5%, 70%);
}