#projects {
  width: 100%;
  /* background: linear-gradient(hsl(200, 50%, 15%), 67%, hsl(200, 50%, 25%)); */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

#projects h2 {
  font-size: 2rem;
  padding: 3rem 0 2rem;
}

.projects-windows {
  width: 60%;
  background-color: hsl(0, 0%, 5%, 95%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;
  margin-bottom: 3rem;
  color: white;
}

@media only screen and (max-width: 800px) {
  .projects-windows {
    width: 95%;
    padding: 0.75rem 0.75rem 0;
  }
}

.project-element {
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  color: hsl(0, 0%, 100%);
  border: 1px solid black;
}

.owl-array {
  background-image: url('../../images/projects/owl-array-1.png');
}

.speedy-auto-centre {
  background-image: url('../../images/projects/speedy-auto-centre-1.png');
}

.four-in-a-line {
  background-image: url('../../images/projects/four-in-a-line-1.png');
}

.project-description {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#projects h3 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

@media only screen and (max-width: 800px) {
  #projects h3 {
    font-size: 1.25rem;
  }
}

/* #projects h3,
#projects p,
#projects strong {
  text-align: justify;
} */
