#projects {
  width: 100%;
  /* background-color: hsl(0deg, 0%, 10%); */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 3.5rem;
}

#projects h2 {
  font-size: 2rem;
  padding: 3.5rem 0 2rem;
  border-top: 1px solid grey;
  width: 90vw;
}

.projects-windows {
  width: 50%;
  max-width: 600px;
  background-color: hsl(30deg, 5%, 92%);
  border: 2px solid hsl(30deg, 0%, 75%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;
  margin-bottom: 3rem;
  animation: 0.2s linear forwards projectWindowLightMode;
}

@media only screen and (max-width: 800px) {
  .projects-windows {
    width: 95%;
    padding: 0.75rem 0.75rem 0;
  }
}

@keyframes projectWindowLightMode {
  from {
    background-color: hsl(30deg, 5%, 0%);
    border-color: hsl(30deg, 0%, 25%);
  }
  to {
    background-color: hsl(30deg, 5%, 92%);
    border-color: hsl(30deg, 0%, 75%);
  }
}

.App.dark-mode .projects-windows {
  animation: 0.2s linear forwards projectWindowDarkMode;
}

@keyframes projectWindowDarkMode {
  from {
    background-color: hsl(30deg, 5%, 92%);
    border-color: hsl(30deg, 0%, 75%);
  }
  to {
    background-color: hsl(30deg, 5%, 0%);
    border-color: hsl(30deg, 0%, 25%);
  }
}

.screenshoot-container {
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.screenshoot-container::-webkit-scrollbar {
  display: none;
}

#projects img {
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: 0 0.5rem;
}

/* .project-description {
  display: grid;
  grid-template-columns: 1fr 2rem 1fr;  
  align-items: center;
} */

.dots {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 0.7rem;
  width: 0.7rem;
  margin: 0 0.25rem;
  background-color: transparent;
  border: 1px solid hsl(0deg, 0%, 25%);
  border-radius: 50%;
  cursor: pointer;
}

.App.dark-mode .dot {
  border-color: hsl(0deg, 0%, 75%);
}

.dot-active {
  background-color: hsl(0deg, 0%, 25%);
}

.App.dark-mode .dot-active {
  background-color: hsl(0deg, 0%, 75%);
}

.project-icons {
  text-align: right;
}

.github-icon > i,
.chrome-icon > i {
  font-size: 1.65rem;
  cursor: pointer;
  color: black;
}

#projects h3 {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  #projects h3 {
    font-size: 1.25rem;
  }
}

/* #projects h3,
#projects p,
#projects strong {
  text-align: justify;
} */
