#projects {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 3.5rem 3rem 1rem;
  border-top: 1px solid hsl(0, 0%, 50%);
}

@media only screen and (max-width: 800px) {
  #projects {
    margin: 3.5rem 1rem 1rem;
  }
}

.projects-windows {
  max-width: 600px;
  background-color: hsl(30deg, 5%, 92%);
  border: 1px solid hsl(30deg, 0%, 75%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;
  margin: 1rem 0 2rem;
  animation: 0.2s linear forwards projectWindowLightMode;
}

@media only screen and (max-width: 800px) {
  .projects-windows {
    padding: 0.75rem 0.75rem 0;
  }
}

@keyframes projectWindowLightMode {
  from {
    background-color: hsl(30deg, 5%, 0%);
    border-color: hsl(30deg, 0%, 25%);
  }
  to {
    background-color: hsl(30deg, 5%, 92%);
    border-color: hsl(30deg, 0%, 75%);
  }
}

.App.dark-mode .projects-windows {
  animation: 0.2s linear forwards projectWindowDarkMode;
}

@keyframes projectWindowDarkMode {
  from {
    background-color: hsl(30deg, 5%, 92%);
    border-color: hsl(30deg, 0%, 75%);
  }
  to {
    background-color: hsl(30deg, 5%, 0%);
    border-color: hsl(30deg, 0%, 25%);
  }
}

.screenshoot-container {
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  scroll-behavior: smooth;
}

.screenshoot-container::-webkit-scrollbar {
  display: none;
}

#projects .info,
#projects .project-link {
  display: flex;
  flex: none;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: 0 0.5rem;
}

#projects .info {
  flex: none;
  background-color: hsl(40, 75%, 97%);
  /* border: 1px solid hsl(0, 0%, 75%); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  padding: 1rem;
  animation: 0.2s linear forwards appLightMode;
}

.App.dark-mode #projects .info {
  animation: 0.2s linear forwards appDarkMode;
}

@media only screen and (max-width: 500px) {
  #projects .info {
    padding: 0.5rem;
  }
}

#projects img {
  width: 100%;
}

.dots {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 0.7rem;
  width: 1.4rem;
  margin: 0 0.25rem;
  background-color: transparent;
  border: 1px solid hsl(0deg, 0%, 25%);
  border-radius: 1rem;
  cursor: pointer;
}

.App.dark-mode .dot {
  border-color: hsl(0deg, 0%, 75%);
}

.dot-active {
  background-color: hsl(0deg, 0%, 25%);
}

.App.dark-mode .dot-active {
  background-color: hsl(0deg, 0%, 75%);
}

.project-icons {
  text-align: center;
}

#projects i {
  padding: 0 0.25rem;
  font-size: 1.65rem;
  animation: 0.2s linear forwards footerLightMode;
}

.App.dark-mode #projects i {
  animation: 0.2s linear forwards footerDarkMode;
}

.project-anchor {
  margin: 0 0.25rem;
}

#projects h3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: underline;
}

#projects p {
  font-weight: 300;
}

@media only screen and (max-width: 500px) {
  #projects h3 {
    font-size: 1.05rem;
  }

  #projects p {
    font-size: 0.9rem;
  }
}
