#skills {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
  margin: 0 3rem 0;
  border-top: 1px solid hsl(0, 0%, 50%);
}

.App.dark-mode #skills {
  border-top: 1px solid hsl(0, 0%, 75%);
}

@media only screen and (max-width: 800px) {
  #skills {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    text-align: center;
    margin-top: 1rem;
  }
}

.skills-elements {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  margin: 0 1rem;
}

@media only screen and (max-width: 800px) {
  .skills-elements {
    margin: 0 0.5rem;
  }
}

.core-skills {
  grid-row: 2;
}

.other-skills {
  display: none;
}

#skills h2 {
  padding: 3.5rem 0 1rem;
}

#skills p {
  font-weight: 300;
  font-size: 0.9rem;
}

.skills-container {
  max-width: 600px;
  border-radius: 1rem;
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.skill-container {
  width: 8rem;
  height: 8rem;
  background-color: hsla(0, 0%, 100%, 90%);
  box-shadow: inset -4px 4px 0px 0px grey;
  border: 2px solid;
  border-radius: 50%;
  margin: 0 0.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 0.2s linear forwards skillsLightMode;
}

@keyframes skillsLightMode {
  from {
    background-color: hsla(0, 0%, 10%, 0%);
    box-shadow: inset 0px 0px 0px 0px transparent;
  }
  to {
    background-color: hsla(0, 0%, 100%, 90%);
    box-shadow: inset -4px 4px 0px 0px grey;
  }
}

.App.dark-mode .skill-container {
  animation: 0.2s linear forwards skillsDarkMode;
}

@keyframes skillsDarkMode {
  from {
    background-color: hsla(0, 0%, 100%, 90%);
    box-shadow: inset -4px 4px 0px 0px grey;
  }
  to {
    background-color: hsla(0, 0%, 10%, 0%);
    box-shadow: inset 0px 0px 0px 0px transparent;
  }
}

i {
  font-size: 2.5rem;
  padding: 0.5rem;
}

i.fa-terminal {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.icon-img {
  width: 3.5rem;
  filter: brightness(0);
  padding: 0.5rem;
}

.skills-division {
  align-self: center;
  height: 80%;
  background-color: black;
}

@media only screen and (max-width: 800px) {
  .skills-division {
    width: 80%;
    justify-self: center;
  }
}

.skills-button {
  grid-row: 3;
  width: fit-content;
  margin: 0 auto;
}
