#skills {
  width: 50%;
  background: linear-gradient(hsl(200, 25%, 10%), 67%, hsl(200, 25%, 20%));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

#skills h2 {
  color: white;
  font-size: 2rem;
  padding: 3rem 0 2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-container {
  width: 8rem;
  height: 8rem;
  background-color: hsla(0, 0%, 100%, 90%);
  border-radius: 1rem;
  margin: 0 0.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.open-more-skills {
  color: black;
  background-color: hsl(200, 25%, 85%);
  align-self: center;
}
