#skills {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
  margin: 0 3rem 0;
  border-top: 1px solid hsl(0, 0%, 50%);
}

@media only screen and (max-width: 800px) {
  #skills {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    text-align: center;
    margin: 0 1rem 0;
    margin-top: 1rem;
  }
}

.heading-with-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-elements {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

@media only screen and (max-width: 800px) {
  .skills-elements {
    margin: 0 0.5rem;
  }
}

#skills p {
  font-weight: 300;
  font-size: 0.9rem;
}

.skills-container {
  max-width: 600px;
  border-radius: 1rem;
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.skill-container {
  width: 7rem;
  height: 7rem;
  background-color: hsla(0, 0%, 100%, 90%);
  box-shadow: inset -4px 4px 0px 0px grey;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 0.75rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 0.2s linear forwards skillsLightMode;
}

@keyframes skillsLightMode {
  from {
    color: white;
    background-color: hsla(0, 0%, 10%, 0%);
    box-shadow: inset 0px 0px 0px 0px transparent;
  }
  to {
    color: black;
    background-color: hsla(0, 0%, 100%, 90%);
    box-shadow: inset -4px 4px 0px 0px grey;
  }
}

.App.dark-mode .skill-container {
  animation: 0.2s linear forwards skillsDarkMode;
}

@keyframes skillsDarkMode {
  from {
    color: black;
    background-color: hsla(0, 0%, 100%, 90%);
    box-shadow: inset -4px 4px 0px 0px grey;
  }
  to {
    color: white;
    background-color: hsla(0, 0%, 10%, 0%);
    box-shadow: inset 0px 0px 0px 0px transparent;
  }
}

i {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.icon-img {
  width: 3.5rem;
  padding: 0.5rem;
  animation: 0.2s linear forwards iconImgLightMode;
}

@keyframes iconImgLightMode {
  from {
    filter: invert(1) grayscale(1) brightness(2);
  }
  to {
    filter: invert(0) grayscale(0) brightness(0);
  }
}

.App.dark-mode .icon-img {
  animation: 0.2s linear forwards iconImgDarkMode;
}

@keyframes iconImgDarkMode {
  from {
    filter: invert(0) grayscale(0) brightness(0);
  }
  to {
    filter: invert(1) grayscale(1) brightness(2);
  }
}

.express {
  font: 1.25rem helvetica neue, open sans, sans-serif;
  font-weight: 200;
  padding: 1rem 0;
}

.postgre {
  width: 3.5rem;
  padding: 0.5rem;
  filter: grayscale(1);
}

.skills-division {
  align-self: center;
  height: 80%;
  background-color: black;
}

@media only screen and (max-width: 800px) {
  .skills-division {
    width: 80%;
    justify-self: center;
  }
}
