.App {
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
}

header {
  background-color: hsla(0, 100%, 50%, 50%);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}