#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  padding: 1rem 0;
  border-top: 1px solid hsl(0, 0%, 50%);
}

@media only screen and (max-width: 800px) {
  #footer {
    flex-direction: column;
    margin: 0 1rem;
  }
}

#footer > p {
  font-size: 0.9rem;
}

#footer > a {
  animation: 0.2s linear forwards footerLightMode;
}

@keyframes footerLightMode {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

.App.dark-mode #footer > a {
  animation: 0.2s linear forwards footerDarkMode;
}

@keyframes footerDarkMode {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

#footer i {
  font-size: 1.75rem;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  #footer i {
    padding-top: 0.75rem;
  }
}
